* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.brand{
  padding: 6px;
  @media(max-width:768px){
   display: flex;
   justify-content: center;
   align-items: center;
   img{
     width:160px; 
     }
   }
 
}

.btn-primary{
  border-color: black;
  background-color: black!important;
  color:rgb(255, 255, 255);
  &:hover{
    border-color: black;
  }
}

 .linkSection{
   display: flex; 
   width: 100%;
   background: linear-gradient(
    45deg, #f73754, #ec7f8c, #ed4e66);
   padding: 0 15px;
   align-items: center; 
   justify-content: center;
   position: sticky;
   z-index: 1;
   top:0;
   margin-bottom: 17px;
   
   ul{
     margin: 0;
     padding: 0;
     @media(max-width:768px) {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
     }
     li{
       display: inline-block;
       @media(max-width:768px){
        margin: 7px 0;
       }
       a{
        text-decoration: none;
        background: #ff8a9b;
        padding: 8px 13px;
        color: #000000;
        text-align: center;
        text-transform: capitalize;
        margin: 8px 2px;
        font-size: 13px;
        border-radius: 5px 0;
        &:hover{
          color: rgb(252, 252, 252);
              box-shadow:1px 7px 12px #ff42667d;
       }
       }
     }
   }
 }
header{
  background: linear-gradient(
    45deg, #f73754, #ec7f8c, #ed4e66);
  .navbar-toggler{
    .iconify{
      color: #fff;
    }
  }
  .navbar-nav{
    @media(max-width:768px){
      margin-top:  10px;
    }
  }
  .nav-item{
    margin:0 5px;
    .nav-link{ 
      padding: 9px 14px;
      color: #fff!important;
      font-size: 16px!important;
      font-weight: 500;
      &:hover{
        color: #ffeeba !important;
      }
      &.active{ 
        background: #ff8ea1;
    color: white !important;
    border-radius: 0 18px;
    padding: 9px 17px;
      }
    }
  }
}
 .common-sections:target{ 
  padding-top: 54px;
  @media(max-width:768px){
    padding-top: 113px;
  }
 }

 .common-sections{
   min-height: 300px; 
 }
 .horizontal-add{
   margin: 15px 0;
 }

 .main{
   .main-content{
     position: relative;
   }
 }
 .link-container{
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap; 
  a{
    width: 15.5%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #00000020;
    background: #f1f1f1;
    box-shadow: 1px 0px 3px 0px #e6e6e6;     
    
     @media(max-width:600px){
      width: 47%!important ; 
    }
   
    img{
      transition: all 0.4s ease;
      max-width: 90%;
    }
    &:hover{ 
      box-shadow: 1px 2px 5px 0px #35353533;
        img{
          transform: translateY(-2px);
        }
    }
  }
 }

 .shadow{
  border: 1px solid #0003;
  box-shadow:0 2px 6px #0000004d!important;
 }

 .sidebar{
   .card{
      &:nth-child(1){
       .card-header{
         background: #344D52;
         color: #fff;
        }
      }
      &:nth-child(2){
       .card-header{
         background: #F04F66;
         color: #fff;
        }
      }
      &:nth-child(3){
       .card-header{
         background: #7261bd;
         color: #fff;
        }
      }
   }
   .list-group-item{
    a{
      color: black;
      text-decoration: none; 
    }
    &:hover{
      background: #344D52;
      a{
        color: #fff;
      }
    }
   }
 }