* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand {
  padding: 6px;
}

@media (max-width: 768px) {
  .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand img {
    max-width: 100%;
  }
}

.btn-primary {
  border-color: black;
  background-color: black !important;
  color: white;
}

.btn-primary:hover {
  border-color: black;
}

.linkSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #394c53;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  margin-bottom: 17px;
}

.linkSection ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .linkSection ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.linkSection ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .linkSection ul li {
    margin: 7px 0;
  }
}

.linkSection ul li a {
  text-decoration: none;
  background: #ed4e66;
  padding: 6px 13px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  margin: 8px 2px;
  font-size: 12px;
  border-radius: 5px 0;
}

.linkSection ul li a:hover {
  -webkit-box-shadow: 1px 7px 12px #ff42667d;
          box-shadow: 1px 7px 12px #ff42667d;
}

header {
  background-color: #394C53;
}

header .navbar-toggler .iconify {
  color: #fff;
}

@media (max-width: 768px) {
  header .navbar-nav {
    margin-top: 10px;
  }
}

header .nav-item {
  margin: 0 5px;
}

header .nav-item .nav-link {
  padding: 9px 14px;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 500;
}

header .nav-item .nav-link:hover {
  color: #0dcaf0 !important;
}

header .nav-item .nav-link.active {
  background: #e05865;
  color: white !important;
}

.common-sections:target {
  padding-top: 54px;
}

@media (max-width: 768px) {
  .common-sections:target {
    padding-top: 113px;
  }
}

.common-sections {
  min-height: 300px;
}

.horizontal-add {
  margin: 15px 0;
}

.main .main-content {
  position: relative;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-container a {
  width: 15.5%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border: 1px solid #00000020;
  background: #f1f1f1;
  -webkit-box-shadow: 1px 0px 3px 0px #e6e6e6;
          box-shadow: 1px 0px 3px 0px #e6e6e6;
}

@media (max-width: 600px) {
  .link-container a {
    width: 47% !important;
  }
}

.link-container a img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  max-width: 90%;
}

.link-container a:hover {
  -webkit-box-shadow: 1px 2px 5px 0px #35353533;
          box-shadow: 1px 2px 5px 0px #35353533;
}

.link-container a:hover img {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.shadow {
  border: 1px solid #0003;
  -webkit-box-shadow: 0 2px 6px #0000004d !important;
          box-shadow: 0 2px 6px #0000004d !important;
}

.sidebar .card:nth-child(1) .card-header {
  background: #344D52;
  color: #fff;
}

.sidebar .card:nth-child(2) .card-header {
  background: #F04F66;
  color: #fff;
}

.sidebar .card:nth-child(3) .card-header {
  background: #7261bd;
  color: #fff;
}

.sidebar .list-group-item a {
  color: black;
  text-decoration: none;
}

.sidebar .list-group-item:hover {
  background: #344D52;
}

.sidebar .list-group-item:hover a {
  color: #fff;
}
/*# sourceMappingURL=app.css.map */